.aboutImage {
  width: 30%;
  height: 30%;
  margin-left: 10%;
  margin-top: auto;
  margin-bottom: auto;
}

.aboutPage {
  display: flex;
  flex-grow: 1;
}

.aboutUsText {
  margin-top: auto;
  margin-bottom: auto;
  text-align: justify;
}

.aboutUsDetails {
  font-size: 20px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .aboutPage {
    display: inline-block;
  }
  .aboutImage {
    margin-top: 10%;
    width: 80%;
  }
  .aboutUsTitle {
    padding-bottom: 0;
  }
  .aboutUsText {
    margin-top: 0%;
  }
}