body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:rgb(49, 49, 50);
}

a {
  font-size: 30px;
  color: rgb(214, 214, 214);
  text-decoration: none;
  font-weight: 500;
  padding: 0px 20px;
}

a:hover {
  color:rgb(252, 249, 249)
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 30px 10%;
}