footer {
  background-color: black;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  margin-bottom: 0;
  margin-top: 0;
  padding: 2%;
}

.facebookContact {
  display: flex;
  justify-content: center;
}