.footerAlt {
  background-color: black;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 13px;
}

p {
  padding: 1%;
}
